@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@1,500&display=swap");
body,
html {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  color: #020121;
  background-color: #8767ff40;
}
a {
  text-decoration: none;
  color: white;
}
/*HEADER*/
header {
  height: 75px;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
header nav div h1 {
  font-family: "Kaushan Script", cursive;
  margin: 0;
  font-size: 50px;
  color: white;
  text-align: center;
}
header nav .option {
  background-color: #763cff;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  text-align: center;
}
header nav .option a {
  position: relative;
  top: 15px;
}
/*MAIN_SHOPPING SCREEN*/
main .shopping-screen .container-shopping-screen .main-information h1 {
  text-align: center;
  font-family: "Fraunces", serif;
  padding: 50px 100px;
  margin: 0;
  color: white;
  font-size: xx-large;
}
main .shopping-screen .container-shopping-screen {
  display: grid;
  grid-template-columns: 65% 25%;
  justify-content: center;
  grid-template-areas: "main-information main-photo";
  column-gap: 20px;
}
main .shopping-screen .container-shopping-screen .main-information {
  grid-area: main-information;
}
main .shopping-screen .container-shopping-screen .main-information .products {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.products article {
  width: 260px;
  height: 207px;
  border-radius: 20px;
  padding: 10px;
  margin-right: 10px;
  text-align: center;
}
.products article .content {
  background-image: url("Imagenes/fondo.svg");
  margin-top: -80px;
  padding: 80px 10px 20px 10px;
  border-radius: 20px;
}
.products img {
  width: 150px;
  height: 150px;
}
main .shopping-screen .container-shopping-screen .main-information .quality {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 250px;
}

.quality div {
  margin-right: 5px;
  text-align: center;
}
main .shopping-screen .container-shopping-screen .main-photo {
  grid-area: main-photo;
  position: relative;
  right: 50px;
}
/*MAIN_PAY SCREEN*/
main .pay-screen .container-pay-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}
main .pay-screen .container-pay-screen .product {
  width: 300px;
  padding: 10px;
  margin: 0 20px;
  background-image: url("Imagenes/fondo.svg");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  border-radius: 20px;
}
.product p {
  text-align: left;
}
main .pay-screen .container-pay-screen .card {
  width: 100%;
  max-width: 400px;
  height: 400px;
  background-image: url("Imagenes/fondo.svg");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  border-radius: 20px;
  padding: 50px;
}
main .pay-screen .container-pay-screen .card .form {
  padding: 30px 0;
}
.card .form label {
  display: block;
  color: #020121;
  margin-bottom: 5px;
  text-align: left;
}
.card .form input,
button {
  border: 1.95px solid #9072ce70;
  box-sizing: border-box;
  font-size: 18px;
  height: 38px;
  width: 100%;
  padding: 5px 12px;
  border-radius: 5px;
}
.card .form input {
  margin-bottom: 20px;
  text-transform: uppercase;
}
.card .form input:hover,
button:hover {
  border: 2px solid #9072cec9;
}
.card .form input:focus,
button:focus {
  outline: rgb(2, 1, 33);
  box-shadow: 1px 7px 10px -5px rgba(144, 114, 206, 0.44);
}
#inputNumero {
  margin-bottom: 5px;
}
.title {
  text-align: left;
}
.card .form .data-flex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.card .form .data-flex div {
  margin-right: 5px;
}
.card .form .data-flex .cvv {
  width: 250px;
  height: 37px;
  background-image: url("Imagenes/cvv.png");
  background-repeat: no-repeat;
  background-position: left;
  border-radius: 5px;
  margin-right: 0;
}
.card .form .data-flex .cvv p {
  margin: 0;
  padding: 10px;
  text-align: right;
  font-style: oblique;
  font-size: 14px;
}
/*MODAL*/
main .modal-container {
  opacity: 0;
  visibility: hidden;
  position: fixed; /*esto hara que se salga del flujo de l contenedores*/
  z-index: 1000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
main .modal-container .modal {
  width: 20%;
  padding: 0 20px;
  background-image: url("Imagenes/fondo.svg");
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden; /*Recorta y no se desborde la imgen del contenedir*/
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  transition: transform 1s;
  transform: translateY(0%);
  border-radius: 20px;
}
main .modal-container .modal-close {
  transform: translateY(-250%);
}
main .modal-container .modal .close {
  position: absolute;
  top: 5px;
  right: 15px;
  display: inline-block;
  width: 25px;
  height: 25px;
  background: rgba(79, 0, 255, 0.68);
  color: white;
  line-height: 25px;
  cursor: pointer;
  border-radius: 100%;
  font-weight: bold;
  margin-top: 5px;
  text-align: center;
}
.modal-container .modal img {
  width: 170px;
}
.modal-textos h2 {
  margin-top: 0;
}
/*Estilos para agregar con JS*/
.mask {
  width: 200px;
  background-color: white;
  font-size: 18px;
  position: relative;
  bottom: 42px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
  height: 25px;
  margin: 0 10px;
  padding: 5px 0;
}
.visa {
  background-image: url("Imagenes/visa.svg");
  background-size: 60px 60px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 340px;
}
.mastercard {
  background-image: url("Imagenes/mastercad.svg");
  background-size: 60px 60px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 340px;
}
.letter-style {
  text-transform: uppercase;
  font-weight: bold;
}
/*FOOTER*/
footer {
  padding: 0 20px;
  background-color: rgba(79, 0, 255, 0.68);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
